* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f0e6d2;
    font-family: 'Arial', sans-serif;
    color: #333;
}

header {
   background-image: url(https://i.postimg.cc/DZWpzxS4/Chat-GPT-Image-25-de-mar-de-2026-08-19-31.png);
    background-size: cover;
    background-position: center;
    height: 28rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

div#caixa {
    width: 30%;
    height: 30rem;
    background-color: #8fdfc5;
    position: relative;
    margin-top: 0.7rem;
    z-index: -1;
    margin-left: 2.5rem;
    border-radius: 10px;
    float: left;
}

div#caixaDois {
    width: 30%;
    height: 30rem;
    background-color: #8fdfc5;
    position: relative;
    margin-top: 0.7rem;
    z-index: -1;
    border-radius: 10px;
    float: left;
    margin-left: 1rem;
}

div#caixaTres {
    width: 30%;
    height: 30rem;
    background-color: #8fdfc5;
    position: relative;
    margin-top: 0.7rem;
    z-index: -1;
    border-radius: 10px;
    float: left;
    margin-left: 1rem;
}

div#caixaQuatro {
    width: 30%;
    height: 30rem;
    background-color: #8fdfc5;
    position: relative;
    margin-top: 0.7rem;
    z-index: -1;
    border-radius: 10px;
    float: left;
    margin-left: 2.5rem;
}

div#caixaCinco {
    width: 30%;
    height: 30rem;
    background-color: #8fdfc5;
    position: relative;
    margin-top: 0.7rem;
    z-index: -1;
    border-radius: 10px;
    float: left;
    margin-left: 1rem;
}

div#caixaSeis {
    width: 30%;
    height: 30rem;
    background-color: #8fdfc5;
    position: relative;
    margin-top: 0.7rem;
    z-index: -1;
    border-radius: 10px;
    float: left;
    margin-left: 1rem;
}

@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

h2 {
    font-size: 1.3em;
    margin: 0;
    position: absolute;
    left: 2rem;
    top: 21rem;
    user-select: none;
    -webkit-user-drag: none;
}

h2#h2Dois {
    font-size: 1.3em;
    margin: 0;
    position: absolute;
    left: 2rem;
    top: 21rem;
    user-select: none;
    -webkit-user-drag: none;
}

h2#Tres {
    font-size: 0.89rem;
    margin: 0;
    position: absolute;
    right: 2rem;
    top: 21rem;
    user-select: none;
    -webkit-user-drag: none;
}

h2#Quatro {
   font-size: 1.1em;
    margin: 0;
    position: absolute;
    left: 2rem;
    top: 21rem;
    user-select: none;
    -webkit-user-drag: none;
}

h2#Cinco {
    font-size: 1.3em;
    margin: 0;
    position: absolute;
    left: 2rem;
    top: 21rem;
    user-select: none;
    -webkit-user-drag: none;
}

h2#Seis {
    font-size: 1.3em;
    margin: 0;
    position: absolute;
    left: 2rem;
    top: 21rem;
    user-select: none;
    -webkit-user-drag: none;
}

button#Add {
    position: absolute;
    top: 26rem;
    right: 3.4rem;
    width: 70%;
    height: 3rem;
    background-color: #ff8a80;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    transition: all 0.3s ease;
    user-select: none;
    -webkit-user-drag: none;
}

button#Add:hover {
  background-color: #45a049;
  transform: scale(1.05); 
}

button#AddDois{
    position: absolute;
    top: 26rem;
    right: 3.4rem;
    width: 70%;
    height: 3rem;
    background-color: #ff8a80;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    transition: all 0.3s ease;
    user-select: none;
    -webkit-user-drag: none;
}

button#AddDois:hover {
  background-color: #45a049;
  transform: scale(1.05); 
}

button#AddTres{
    position: absolute;
    top: 26rem;
    right: 3.4rem;
    width: 70%;
    height: 3rem;
    background-color: #ff8a80;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    transition: all 0.3s ease;
    user-select: none;
    -webkit-user-drag: none;
}

button#AddTres:hover {
  background-color: #45a049;
  transform: scale(1.05); 
}

button#AddQuatro{
    position: absolute;
    top: 26rem;
    right: 3.4rem;
    width: 70%;
    height: 3rem;
    background-color: #ff8a80;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    transition: all 0.3s ease;
    user-select: none;
    -webkit-user-drag: none;
}

button#AddQuatro:hover {
  background-color: #45a049;
  transform: scale(1.05); 
}

button#AddCinco {
    position: absolute;
    top: 26rem;
    right: 3.4rem;
    width: 70%;
    height: 3rem;
    background-color: #ff8a80;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    transition: all 0.3s ease;
    user-select: none;
    -webkit-user-drag: none;
}

button#AddCinco:hover {
  background-color: #45a049;
  transform: scale(1.05); 
}

button#AddSeis {
    position: absolute;
    top: 26rem;
    right: 3.4rem;
    width: 70%;
    height: 3rem;
    background-color: #ff8a80;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    transition: all 0.3s ease;
    user-select: none;
    -webkit-user-drag: none;
}

button#AddSeis:hover {
  background-color: #45a049;
  transform: scale(1.05); 
}

img {
    display: block; 
    max-width: 90%;
    width: 20rem;
    height: 20rem;
    border-radius: 10px;
    float: left;
    margin-left: 17px;
    margin-top: 10px;
    user-select: none;
    -webkit-user-drag: none;
}   